
body,
html {
    margin: 0;
    border: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
   
    font-size: 1.4rem;
        background-color: #242323;

}
.moveZone {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
}
#mask{
    
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    text-align: center;

        background-image: url(/svg/kasiyoo.svg);
        background-position: center center;
    background-repeat: no-repeat;


}
/*desktop layout*/


@media only screen and (min-width:640px){
    .grid {
    padding: 0;
    width: 80%;
    list-style: none;
    text-align: center;
    margin: 0 auto 0% auto;
    height: auto;
}
.me{
    
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(/image/MY.png);
      background-size: 70%;
    background-position: 150% 50%;
    background-repeat: no-repeat;
    background-color: #5683e5;
        overflow-x: hidden;
 
    
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    color: #242323;
    font-weight: 800;
    line-height: 100px;
    position: absolute;
    top: 25px;
    left: 70px;
    width: 400px;
    transition: font-size 0.2s linear;
    z-index: 12;
}

.home_container_2_title embed {
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}







}

@media only screen and (min-width: 1000px){
    
     .grid {
    padding: 0;
    width: 1000px;
    list-style: none;
    text-align: center;
    margin: 0 auto 0% auto;
    height: auto;
}
    
    
}





/*mobile layout*/
@media only screen and (max-width: 639px){
    
  .me{
    
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: #5683e5;
        overflow-x: hidden;
 
    
}
  .home_container_2_title embed {
    width: 99%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
}    
    

    
.logo {
    /*    font-family: "Fugaz One", sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #242323;
    font-weight: 800;
    line-height: 100px;
    position: absolute;
    top: 25px;
    left: 70px;
    transition: font-size 0.2s linear;
    z-index: 12;
}  
    
   
  .grid {
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto 0% auto;
    height: auto;
}  
     
    
    
}



.paper{
    width: 100%;
    height: 100%;
    margin: 0% auto 0px auto;
      
}
#fade{
    
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    display: none;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?-og9pn');
    src: url('/fonts/icomoon.eot?#iefix-og9pn') format('embedded-opentype'), url('/fonts/icomoon.ttf?-og9pn') format('truetype'), url('/fonts/icomoon.woff?-og9pn') format('woff'), url('/fonts/icomoon.svg?-og9pn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.update{
    
    width: 100%;
        height:100%;
    background-color: #242323;
    z-index: 120;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
position: fixed;
    display:none;
    
    
}

.warning{
        font-size: 40px;

height: 130px;
    padding: 0;
    margin-top: 25%;
    
}
.update span{
    margin-top: 50px;
    font-size: 40px;
    color: #dedede;
    width: 30px;
    display: inline-block;
    margin-right: 40px;
    
}

.update span:hover{
    color: #fff;
}


.icon-chrome:before {
    content: "\e7e8";
}
.icon-firefox:before {
    content: "\e7e9";
}

.icon-IE:before {
    content: "\e7ea";
}








/*
.header {
    height: 140px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 5;
    transition: height 0.5s ease;
}
*/

/*
.logo hr {
    margin: 0;
    position: absolute;
    width: 42px;
    height: 4px;
    top: 0;
    background-color: #242323;
    border: 0;
}
*/
.logo a {
    color: #242323;
    position: relative;
}
#k {
    position: relative;
    left: -4px;
    padding: 0;
    
}
#a {
    /*display: none;*/
    position: relative;
    left: -20px;
    opacity: 0;
}
#s {
    position: relative;
    left: -20px;
    opacity: 0;
}
#i {
    position: relative;
    left: -20px;
    opacity: 0;
}
#s {
    position: relative;
    left: -20px;
    opacity: 0;
}
#y {
    position: relative;
    left: -20px;
    opacity: 0;
}
#o {
    position: relative;
    left: -20px;
    opacity: 0;
}
#oo {
    position: relative;
    left: -20px;
    opacity: 0;
}
.border {
    position: fixed;
    right: 6%;
    height: 70px;
    width: 60px;
    top: 40px;
    z-index: 13;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.menuText {
    color: #fff;
    font-size: 1rem;
    width: 29px;
    letter-spacing: 1.3rem;
    left: 50%;
    margin-left: -14.5px;
    text-align: center;
}
#menuText_top {
    position: absolute;
    top: 9px;
}
#menuText_bottom {
    position: absolute;
    bottom: 6px;
}
.iconmenu {
    position: absolute;
    right: 15px;
    height: 21px;
    width: 29px;
    top: 25px;
}
.line {
    padding: 0;
    border: 0;
    height: 3px;
    width: 29px;
    background-color: #242323;
    position: absolute;
    top: 8px;
    margin: 0;
    border-radius: 2px;
}
#top {
    position: absolute;
    height: 3px;
    width: 29px;
    background-color: #242323;
    top: -1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    padding: 0;
    border: 0;
    border-radius: 2px;
}
#bottom {
    position: absolute;
    height: 3px;
    width: 29px;
    background-color: #242323;
    bottom: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-radius: 2px;
}
.iconmenu:hover #top {
    transform: rotate(-45deg) translateX(-4px);
    -o-transform: rotate(-45deg) translateX(-4px);
    -ms-transform: rotate(-45deg) translateX(-4px);
    -moz-transform: rotate(-45deg) translateX(-4px);
    -webkit-transform: rotate(-45deg) translateX(-4px);
    width: 19px;
}
.iconmenu:hover #bottom {
    transform: rotate(45deg) translateX(-4px);
    -o-transform: rotate(45deg) translateX(-4px);
    -ms-transform: rotate(45deg) translateX(-4px);
    -moz-transform: rotate(45deg) translateX(-4px);
    -webkit-transform: rotate(45deg) translateX(-4px);
    width: 19px;
}

/*     right menu   */

.menu {
    background: #242323;
    position: fixed;
    top: 0;
    height: 100%;
    left: 100%;
    width: 100%;
    z-index: 6;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-transition: left 0.4s linear;
    transition: left 0.3s linear;
    /*    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.44);*/
}
.menu ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    top: 25%;
    text-align: left;
    padding-left: 90px;
    transition: all 0.3s ease-out 0.2s;
    width: 100%;
}
.menu ul li {
    margin-bottom: 10px;
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    transition: all 0.6s ;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s ;
    -ms-transition: all 0.6s ;
    -o-transition: all 0.6s ;
    padding: 0;
}
.menu ul li:hover {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 13px;
}

.menu ul li a:hover{
    
        color:#fff;

    
}


.menu ul li a {
    text-decoration: none;
    color: #d1d1d1;
    padding: 0;
    margin: 0;
    font-style: normal;
    transition: all 0.3s;
}
.menu ul:nth-child(2) {
    position: relative;
    top: 27%;
    font-weight: 300;
}
.menu_tool {
    position: relative;
    top: 30%;
    left: 91px;
}
.menu_tool img {
    width: 20px;
    height: 20px;
}
.contact {
    margin-right: 30px;
}
.contact a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-right: 3px;
    width: 17px;
    overflow-x: hidden;
    color: #7f7f7f;
}
.contact span {
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    left: 0;
    font-size: 16px;
}
.icon-facebook2:before {
    content: "\e795";
}
/*
.icon-facebook2:after {
    content: "\e603";
    color: #3d78f7;
}
*/
.contact a:hover .icon-facebook2 {
color: #fff;

}
.icon-twitter2:before {
    content: "\e798";
}
/*
.icon-twitter2:after {
    content: "\e605";
    color: #3d78f7;
}
*/
.contact a:hover .icon-twitter2 {
        color: #fff;

    
}
.icon-mail:before {
    content: "\e78e";
}
/*.icon-mail:after {*/
/*
    content: "\e602";
    color: #3d78f7;
*/
/*}*/
.contact a:hover .icon-mail {
    color: #fff;
}
.frontlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-size: cover;
    background-position: center;
    background-image: url(/svg/title_w.svg);
    background-color: #000;
}
.home_container_1_wrap {
    width: 150%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.home_container-1 {
    width: 100%;
    height: 100%;
    /*            border-bottom: 2px solid #2be0fe;*/
    background-size: auto;
    background-position: 0 0;
    display: block;
}
.container {
    position: absolute;
    height: 100%;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}
#scene{
    
    margin: 0;
    padding: 0;
    
    
    
}
.container img {
    height: 100%;
}
#title_w {
    position: absolute;
    z-index: 3;
    width: auto;
    height: 120%;
}
.homepage_tool {
    position: absolute;
    bottom: 0;
    height: 30px;
    color: #242323;
    font-size: 1.4rem;
    width: 100%;
}
.something {
    position: absolute;
    right: 10%;
    font-weight: bolder;
}

/*  第二个元素的高度不能100%*/

.home_container_2 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding-bottom: 15%;
    font-size: 10px;
    position: relative;
    z-index: 3;
    background-size: auto;
    background-color: #fff;
}
.home_container_2_title {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}

.home_container_2_text {
    height: auto;
    padding: 0;
    width: 100%;
    text-align: center;
}
.home_container_2_text img {
    min-width: 100%;
    height: 100%;
}




.grid li {
    padding: 0;
    margin-top: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}
.grid figure {
    margin: 0;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0px;
}
.grid figcaption {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    background: #3d78f7;
    /*    opacity: 0.9;*/
    width: 100%;
    padding: 0px;
    height: 75px;
    transition: background 0.1s;
}
.grid h2 {
    line-height: 75px;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}
.cs-style-3 figure {
    overflow: hidden;
}
.cs-style-3 figure img {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.grid figure:hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
-webkit-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    -moz-filter:brightness(0.8);
    -ms-filter: brightness(0.8);
    filter: brightness(0.8);
}
.cs-style-3 figcaption {
    bottom: 0;
    /*    opacity: 0;*/
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.35s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.35s, opacity 0.1s 0.3s;
    transition: transform 0.35s, opacity 0.1s 0.3s;
}
.grid figure:hover figcaption {
    /*    opacity: 1;*/
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.35s, opacity 0.1s, ;
    -moz-transition: -moz-transform 0.35s, opacity 0.1s;
    transition: transform 0.35s, opacity 0.1s;
}
.cs-style-3 figcaption a {
    text-decoration: none;
    color: #fff;
}
.home_container_3 {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;
}
.home_container_3_title {
    background-image: url(/svg/BK02.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.home_container_3_title embed {
    width: 55%;
    height: auto;
    margin-left: 7%;
margin-top: 3%;
}







.skills {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 80px 20px 80px 20px;
    text-align: center;
    background-color: #fff;
    background-image: url(/image/skill.jpg);
    background-size: cover;
    overflow-x: hidden;
}
.graph-bar {
    background-color: #5683e5;
    display: table-cell;
    margin: 0;
    width: 6.2%;
    position: relative;
    opacity: 0.9;
    transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -webkit-backface-visibility: hidden;
    text-align: center;
    margin-right: 2%;
}
.graph-bar:hover {
    opacity: 1;
}
.graph-bar span.inside {
    text-align: left;
    bottom: -8px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    left: -39%;
    margin-bottom: 70px;
    position: absolute;
    width: 115px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    /* FF3.5+ */
    -o-transform: rotate(-90deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);
    /* Saf3.1+, Chrome */
} 
.bar-1 {
    display: inline-block;
    height: 290px;
}
.bar-2 {
    display: inline-block;
    height: 200px;
}
.bar-3 {
    display: inline-block;
    height: 240px;
}
.bar-4 {
    display: inline-block;
    height: 275px;
}
.bar-5 {
    display: inline-block;
    height: 195px;
}
.bar-6 {
    display: inline-block;
    height: 180px;
}
.bar-7 {
    display: inline-block;
    height: 295px;
}
.bar-8 {
    display: inline-block;
    height: 280px;
}
.bar-9 {
    display: inline-block;
    height: 265px;
}
.bar-10 {
    display: inline-block;
    height: 220px;
}
.skill {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000;
}
.home_container_4 {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}
.contact_me {
    height: 100%;
    font-size: 1.4rem;
    color: #fff;
    width: 50%;
    margin: 0 auto 0 auto;
    float: left;
    text-align: center;
    /*    background-image: url(/image/hexiao.png);*/
    background-size: cover;
}
.contact_me embed {
    width: 70%;
/*    margin-top: 26%;*/
}
.map {
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
}
#goTopBtn {
    position: fixed;
    line-height: 36px;
    width: 36px;
    bottom: 35px;
    height: 36px;
    cursor: pointer;
    display: none;
    z-index: 10;
    right: 10px;
/*    background-image: url(/svg/ctrl.svg);*/
    background-size: cover;
    font-size: 4.3rem;
    color: #242323;
    transition: all 0.2s;
    opacity: 0.7
}


#goTopBtn:hover{
    
    opacity: 1;
    
    
    
}
.icon-ctrl:before {
    content: "\e759";
}



footer {
    width: 100%;
    height: 40px;
    background-color: #242323;
    font-size: 20px;
    color: #383838;
    text-align: center;
    line-height: 40px;
}
footer span {
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    left: 0;
}
.claim {
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #fff;
}

/*sub page css*/
#background{
    position: absolute;
    z-index:-2;
    width: 100%;
    height: 100%;
        background-image: url(/image/skill.jpg);
    background-size: cover;
    
background-position: -3px;
    background-attachment: fixed;

    
    
    
}

.sub_container-1 {
     
     width: 100%;
     text-align: center;
/*     background-image: url(/svg/portfolio_bg-01.png);*/
     height: 60%;
    position: relative;
    
 }
.pro_background{
    width: 100%;
   height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    opacity: 0.1;
    top: 0;
    margin: 0;
    background-image: url(/svg/portfolio_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.por_rep{
    height:80%;
    margin-top: 3%;
     
}


 
 p {
     margin: 0;
     width: 100%;
     text-align: center;
     height: auto;
     padding: 0;
/*     display: table-cell;*/
     background-color: #fff;
 }

p video{
    width: 100%;
/*  -webkit-filter:grayscale(0%)*/
/*min-height:104%;*/
    
    
}
.sub_container_2{
               text-align: center;
    width: 100%;
    height: auto;

}
 .sub_container_2 img{

     
     margin:0;
     height: auto;
     width: 100%;
     display: block;
 }


 

 .sub_container_3 {
     width: 100%;
     height: 237px;

     
 }
 .sub_container_3 a {
     float: left;
     width: 50%;
     height: 237px;
     font-size: 15px;
     letter-spacing: 5px;
font-family: 'Raleway', sans-serif;
     text-align: center;
line-height: 237px;
     margin: 0;
     padding-bottom: 0;
     display: block;
     box-sizing: border-box;
     font-weight: 500;
     color: #5683e5;
     transition: all 0.2s linear;
     background-color: #fff;
     
 }
 .sub_container_3 a:hover {
     float: left;
     width: 50%;
     height: 237px;
     font-size: 20px;
     letter-spacing: 0px;
font-family: 'Raleway', sans-serif;
     text-align: center;
     margin: 0;
     padding-bottom: 0;
     display: block;
     box-sizing: border-box;
     font-weight: 500;
     background-color: #5683e5;
     color: #fff;
 }
















