

body,
 html {
     margin: 0;
     border: 0;
     background-attachment: fixed;
     position: relative;
     height: 100%;
     width: 100%;
 }
 body {
     overflow-x: hidden;
     background-size: cover;
     background-image: url(/image/my.jpg);
/*     background-position: 200px 0;*/
     background-repeat: no-repeat;
     background-color: #305199;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 a {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }
 @font-face {
     font-family: 'icomoon';
     src: url('/fonts/icomoon.eot?-og9pn');
     src: url('/fonts/icomoon.eot?#iefix-og9pn') format('embedded-opentype'), url('/fonts/icomoon.ttf?-og9pn') format('truetype'), url('/fonts/icomoon.woff?-og9pn') format('woff'), url('/fonts/icomoon.svg?-og9pn#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 [class^="icon-"],
 [class*=" icon-"] {
     font-family: 'icomoon';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
 }
 .masking {
     position: fixed;
     z-index: 3;
     background-color: rgba(255, 255, 255, 0.78);
     height: 100%;
     width: 100%;
     transition: all 0.5s ease-in 0.8s;
 }
  .header {
     background:#305199;
     height: 0px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 5;
     transition: height 0.5s ease;
 }
 .logo {
     font-family: 'Roboto', sans-serif;
     font-size: 50px;
     color: #fff;
     font-weight: bold;
     line-height: 100px;
     position: absolute;
     top: 0px;
     left: 70px;
     width: 400px;
     transition: font-size 0.2s linear;
 }
.logo a{
    color: #fff;
    position: relative;
    
    
    
}
#k{
    position: relative;
    left: -2px;
}
#a{
/*display: none;*/
  position: relative;
    left: -20px;  
    opacity: 0;
}
#s{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#i{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#s{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}

#y{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#o{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#oo{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
 .iconmenu {
     position: fixed;
     right: 6%;
     height: 22px;
     width: 29px;
     top: 40px;
     z-index: 13;
 }
 .line {
     padding: 0;
     border: 0;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     position: absolute;
     top: 9px;
     margin: 0;
 }
 .iconmenu:before {
     content: "";
     position: absolute;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     top: 0;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
 }
 .iconmenu:after {
     content: "";
     position: absolute;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     bottom: 0;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
 }
 .iconmenu:hover:before {
     transform: rotate(-45deg) translateX(-4px);
     -o-transform: rotate(-45deg) translateX(-4px);
     -ms-transform: rotate(-45deg) translateX(-4px);
     -moz-transform: rotate(-45deg) translateX(-4px);
     -webkit-transform: rotate(-45deg) translateX(-4px);
     width: 19px;
 }
 .iconmenu:hover:after {
     transform: rotate(45deg) translateX(-4px);
     -o-transform: rotate(45deg) translateX(-4px);
     -ms-transform: rotate(45deg) translateX(-4px);
     -moz-transform: rotate(45deg) translateX(-4px);
     -webkit-transform: rotate(45deg) translateX(-4px);
     width: 19px;
 }
 .shadow-1 {
     box-shadow: 0px 1px 0px #d6d6d6;
 }
 /*     right menu   */
 
 .menu {
     position: fixed;
     top: 0;
     height: 100%;
     background-color: #171717;
     left: 100%;
     width: 75%;
     color: #ffffff;
     z-index: 3;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     letter-spacing: 4px;
 }
 .menu ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     position: relative;
     top: 15%;
 }
 .menu ul li {
     font-size: 20px;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5px;
     transition: all 0.3s;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
 }
 .menu ul li:hover {
     font-size: 20px;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5px;
     letter-spacing: 6px;
 }
 .menu ul li a {
     text-decoration: none;
     color: #fff;
 }
 .container-1 {
     width: 100%;
     height: 500px;
     min-height: 100%;
     /*            border-bottom: 2px solid #2be0fe;*/
     background-size: cover;
     background-color: #305199;
 }
 .slogan {
     font-family: "Racing Sans One", cursive, sans-serif;
     font-size: 200px;
     position: absolute;
     top: 500px;
     left: 100px;
     color: #eb5753;
     width: 1440px;
 }
 /*  第二个元素的高度不能100%*/
 
 .parallax {
     position: fixed;
     width: 100%;
     font-size: 80px;
     z-index: 2;
     top: 0;
     color: #ffffff;
     height: 400px;
     margin: 0px;
     padding: 0;
 }
 .parallax .pa {
     position: relative;
     top: 25%;
     width: 100%;
     font-family: "Racing Sans One", cursive, sans-serif;
     text-align: center;
     font-weight: lighter;
 }
 .parallax .pa:before {
     content: " ";
     border-top: 5px solid #ffffff;
     border-left: 5px solid #ffffff;
     border-right: 5px solid #ffffff;
     width: 160px;
     height: 40px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 20px;
 }
 .parallax .pa:after {
     content: " ";
     border-bottom: 30px solid #ffffff;
     border-left: 5px solid #ffffff;
     border-right: 5px solid #ffffff;
     width: 160px;
     height: 40px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: -10px;
 }
 .parallax p {
     font-weight: lighter;
     width: 215px;
     font-size: 10px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 25%;
     line-height: 120%;
     font-family: 'Roboto', sans-serif;
 }















.contact{
    
    margin-left: 70%;
}


 footer {
     width: 100%;
     height: 80px;
     background-color: #fff;
     font-size: 20px;
     color: #383838;
     
 }
 footer a {
     text-decoration: none;
     display: inline-block;
     
     margin-right: 9px;
     height: 30px;
     width: 20px;
     overflow-x: hidden;
     color: #7f7f7f;
 }

 footer span {
     position: relative;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
     left: 0;
 }
 .claim {
     font-size: 11px;
     font-family: 'Open Sans', sans-serif;
     left: 8%;
     font-weight: lighter;
     color: #7f7f7f;
          top: 15px;

 }
 .icon-facebook2:before {
     content:"\e603";
 }
 .icon-facebook2:after {
     content: "\e603";
     color: #305199;
 }
 footer a:hover .icon-facebook2 {
     left: -20px;
 }
 .icon-twitter2:before {
     content: "\e605";
 }
 .icon-twitter2:after {
     content: "\e605";
     color: #305199;
 }
 footer a:hover .icon-twitter2 {
     left: -20px;
 }
 .icon-mail:before {
     content: "\e602";
 }
 .icon-mail:after {
     content: "\e602";
     color: #305199;
 }
 footer a:hover .icon-mail {
     left: -20px;
 }
