

body,
 html {
     margin: 0;
     border: 0;
     background-attachment: fixed;
     position: relative;
     height: 100%;
     width: 100%;
 }
 body {
     overflow-x: hidden;
     background-size: cover;
     background-image: url(/image/my.jpg);
/*     background-position: 200px 0;*/
     background-repeat: no-repeat;
     background-color: #305199;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 a {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }
 @font-face {
     font-family: 'icomoon';
     src: url('/fonts/icomoon.eot?-og9pn');
     src: url('/fonts/icomoon.eot?#iefix-og9pn') format('embedded-opentype'), url('/fonts/icomoon.ttf?-og9pn') format('truetype'), url('/fonts/icomoon.woff?-og9pn') format('woff'), url('/fonts/icomoon.svg?-og9pn#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 [class^="icon-"],
 [class*=" icon-"] {
     font-family: 'icomoon';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
 }
 .masking {
     position: fixed;
     z-index: 3;
     background-color: rgba(255, 255, 255, 0.78);
     height: 100%;
     width: 100%;
     transition: all 0.5s ease-in 0.8s;
 }
 .header {
     background: #305199;
     height: 0px;
     position: fixed;
     top: 0px;
     width: 100%;
     z-index: 5;
     transition: height 0.5s ease;
 }
 .logo {
     font-family: 'Roboto', sans-serif;
     font-size: 50px;
     color: #fff;
     font-weight: bold;
     line-height: 100px;
     position: absolute;
     top: 0px;
     left: 70px;
     width: 400px;
     transition: font-size 0.2s linear;
 }
.logo a{
    color: #fff;
    position: relative;
    
    
    
}
#k{
    position: relative;
    left: -2px;
}
#a{
/*display: none;*/
  position: relative;
    left: -20px;  
    opacity: 0;
}
#s{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#i{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#s{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}

#y{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#o{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}
#oo{
    position: relative;
    left: -20px;  
    opacity: 0;
    
}


 .iconmenu {
     position: fixed;
     right: 6%;
     height: 22px;
     width: 29px;
     top: 40px;
     z-index: 13;
 }
 .line {
     padding: 0;
     border: 0;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     position: absolute;
     top: 9px;
     margin: 0;
 }
 .iconmenu:before {
     content: "";
     position: absolute;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     top: 0;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
 }
 .iconmenu:after {
     content: "";
     position: absolute;
     height: 4px;
     width: 29px;
     background-color: #ffffff;
     bottom: 0;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
 }
 .iconmenu:hover:before {
     transform: rotate(-45deg) translateX(-4px);
     -o-transform: rotate(-45deg) translateX(-4px);
     -ms-transform: rotate(-45deg) translateX(-4px);
     -moz-transform: rotate(-45deg) translateX(-4px);
     -webkit-transform: rotate(-45deg) translateX(-4px);
     width: 19px;
 }
 .iconmenu:hover:after {
     transform: rotate(45deg) translateX(-4px);
     -o-transform: rotate(45deg) translateX(-4px);
     -ms-transform: rotate(45deg) translateX(-4px);
     -moz-transform: rotate(45deg) translateX(-4px);
     -webkit-transform: rotate(45deg) translateX(-4px);
     width: 19px;
 }
 .shadow-1 {
     box-shadow: 0px 1px 0px #d6d6d6;
 }
 /*     right menu   */
 
 .menu {
     position: fixed;
     top: 0;
     height: 100%;
     background-color: #f4f4f4;
     left: 100%;
     width: 60%;
     z-index: 3;
     font-family: 'Roboto', sans-serif;
     font-weight: 600PX;
     letter-spacing: 3px;
 }
 .menu ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
     position: relative;
     top: 22%;
 }
 .menu ul li {
     font-size: 30px;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
     transition: all 0.3s;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
 }
 .menu ul li:hover {
     font-size: 30px;
     text-align: center;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
     letter-spacing: 6px;
 }
 .menu ul li a {
     text-decoration: none;
     color: #305199;
 }
 .container-1 {
     width: 100%;
     height: 800px;
     min-height: 100%;
     /*            border-bottom: 2px solid #2be0fe;*/
     background-size: cover;
     background-color: #305199;
 }
 .slogan {
     font-family: "Racing Sans One", cursive, sans-serif;
     font-size: 200px;
     position: absolute;
     top: 500px;
     left: 100px;
     color: #eb5753;
     width: 1440px;
 }
 /*  第二个元素的高度不能100%*/
 
 [class*="pro-"] {
     font-size: 80px;
     font-family: "Racing Sans One", cursive, sans-serif;
     height: 20%;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.87)
 }
 .container_2 {
     background-color: #ffffff;
     width: 100%;
     height: 1900px;
     margin: 0px;
     padding: 0;
     font-size: 10px;
     background-attachment: scroll;
 }
 .voice {
     background-image: url("/svg/voice.svg");
     background-size: auto;
     background-repeat: no-repeat;
     background-position: center 40px;
 }
 .container_2 h1 {
     font-family: "Racing Sans One", cursive, sans-serif;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     color: #7f7f7f;
     font-size: 140px;
     position: relative;
     top: 200px;
     font-weight: normal;
 }
 .container_2 p {
     font-size: 18px;
     width: 700px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 270px;
     font-family: 'Roboto', sans-serif;
     color: rgb(127, 127, 127);
 }
 .container_2 p span {
     display: inline-block;
     width: 620px;
     margin-left: auto;
     margin-right: auto;
     line-height: 140%;
 }
 /*
        .container_2 p:before {
            content:"";
            font-size: 60px;
            text-align: center;
            color: #000000;
            position: relative;
            float: left;
            background-color: rgba(112, 112, 113, 0.63);
            height: 80px;
            width: 9px;

        }
*/
 /*
        .container_2 p:after {
            content: "";
            font-size: 60px;
            color: #000;
            position: relative;
            float: right;
            background-color: rgba(112, 112, 113, 0.63);
            height: 80px;
            width: 9px;
        }
*/
 
 .grid {
     top: 300px;
     padding: 0;
     width: 100%;
     list-style: none;
     text-align: center;
     position: relative;
     height: 750px;
     margin: 0;
 }
 .grid li {
     padding: 0;
     margin-top: 0;
     width: 1100px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     position: relative;
     height: 150px;
 }
 .grid figure {
     margin: 0;
     position: relative;
     width: 1100px;
     height: 150px;
     padding: 0px;
 }
 .grid figcaption {
     position: absolute;
     top: 50%;
     left: 0;
     background: #305199;
     color: #ffffff;
     width: 100%;
     padding: 0px;
     height: 75px;
 }
 .grid h2 {
     line-height: 75px;
     display: inline;
     font-family: 'Roboto', sans-serif;
     font-weight: normal;
 }
 .cs-style-3 figure {
     overflow: hidden;
 }
 .cs-style-3 figure img {
     -webkit-transition: -webkit-transform 0.4s;
     -moz-transition: -moz-transform 0.4s;
     transition: transform 0.4s;
 }
 .grid figure:hover img {
     -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
     -ms-transform: translateY(-50px);
     transform: translateY(-50px);
 }
 .cs-style-3 figcaption {
     bottom: 0;
     opacity: 0;
     -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
     -ms-transform: translateY(100%);
     transform: translateY(100%);
     -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
     -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
     transition: transform 0.4s, opacity 0.1s 0.3s;
 }
 .grid figure:hover figcaption {
     opacity: 1;
     -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
     -ms-transform: translateY(0px);
     transform: translateY(0px);
     -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
     -moz-transition: -moz-transform 0.4s, opacity 0.1s;
     transition: transform 0.4s, opacity 0.1s;
 }
 .cs-style-3 figcaption a {
     text-decoration: none;
     color: #ffffff
 }
 .parallax {
     position: fixed;
     width: 100%;
     font-size: 150px;
     z-index: 2;
     top: 0;
     color: #ffffff;
     height: 700px;
     margin: 0px;
     padding: 0;
 }
 .parallax .pa {
     position: relative;
     top: 25%;
     width: 100%;
     font-family: "Racing Sans One", cursive, sans-serif;
     text-align: center;
     font-weight: lighter;
 }
 .parallax .pa:before {
     content: " ";
     border-top: 10px solid #ffffff;
     border-left: 10px solid #ffffff;
     border-right: 10px solid #ffffff;
     width: 320px;
     height: 80px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 20px;
 }
 .parallax .pa:after {
     content: " ";
     border-bottom: 60px solid #ffffff;
     border-left: 10px solid #ffffff;
     border-right: 10px solid #ffffff;
     width: 320px;
     height: 80px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: -10px;
 }
 .parallax p {
     font-weight: lighter;
     width: 430px;
     font-size: 20px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     top: 25%;
     line-height: 120%;
     font-family: 'Roboto', sans-serif;
 }
 .container_3 {
     width: 100%;
     height: 900px;
     position: relative;
 }
 .container_3 h3 {
     font-size: 280px;
     font-family: 'Open Sans', sans-serif;
     font-weight: normal;
     text-align: center;
     position: relative;
     top: 180px;
     color: #fff;
 }

.skills {
    margin: 0;
    max-width: 1000px;
    padding: 0;
    width: 100%;
    padding: 30px 20px;
    position: absolute;
    bottom: 6%;
}
.graph-bar {
    background-color: #FFFFFF;
    display: table-cell;
    margin: 0 1.5%;
    width: 8.2%;
    position: relative;
    opacity: 0.9;
    transition: all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;
    -webkit-backface-visibility: hidden;
}
.graph-bar:hover {
    opacity: 1;
}
.graph-bar span.inside {
    bottom: -8px;
    color: #666666;
    font-family: "proxima-nova",sans-serif;
    font-size: 13px;
    left: -34%;
    margin-bottom: 70px;
    margin-left: -3px;
    position: absolute;
    width: 115px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
}

.bar-1 {
    display: inline-block;
    height: 290px;
}
.bar-2 {
    display: inline-block;
    height: 200px;
}
.bar-3 {
    display: inline-block;
    height: 240px;
}
.bar-4 {
    display: inline-block;
    height: 275px;
}
.bar-5 {
    display: inline-block;
    height: 195px;
}
.bar-6 {
    display: inline-block;
    height: 270px;
}
.bar-7 {
    display: inline-block;
    height: 295px;
}
.bar-8 {
    display: inline-block;
    height: 280px;
}
.bar-9 {
    display: inline-block;
    height: 265px;
}
.bar-10 {
    display: inline-block;
    height: 220px;
}
.skill{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000;
    
    
    
    
    
}

.container_4{
    
    
    background-color: bisque;
    
    
    width: 100%;
    height: 400px;
}

















 footer {
     width: 100%;
     height: 80px;
     background-color: #fff;
     font-size: 20px;
     color: #383838;
 }
 footer a {
     text-decoration: none;
     display: inline-block;
     position: relative;
     top: 20px;
     left: 70%;
     margin-right: 9px;
     height: 30px;
     width: 20px;
     overflow-x: hidden;
     color: #7f7f7f;
 }
 footer span {
     position: relative;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
     left: 0;
 }
 .claim {
     font-size: 11px;
     font-family: 'Open Sans', sans-serif;
     left: 8%;
     font-weight: lighter;
     color: #7f7f7f;
          top: 15px;

 }
 .icon-facebook2:before {
     content:"\e603";
 }
 .icon-facebook2:after {
     content: "\e603";
     color: #305199;
 }
 footer a:hover .icon-facebook2 {
     left: -20px;
 }
 .icon-twitter2:before {
     content: "\e605";
 }
 .icon-twitter2:after {
     content: "\e605";
     color: #305199;
 }
 footer a:hover .icon-twitter2 {
     left: -20px;
 }
 .icon-mail:before {
     content: "\e602";
 }
 .icon-mail:after {
     content: "\e602";
     color: #305199;
 }
 footer a:hover .icon-mail {
     left: -20px;
 }
