 body,
 html {
     margin: 0;
     border: 0;
     background-attachment: fixed;
     position: relative;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
 }
 body {
     overflow-x: hidden;
     background-attachment: fixed;
     background-size: cover;
     background-color: #305199;
 }
 /*  loading      */
 
 #loading {
     width: 100%;
     height: 3px;
     background: #ffffff;
     padding: 0px;
     position: fixed;
     left: 0;
     top: 0;
 }
 #loading div {
     width: 1%;
     height: 3px;
     background: #2a18b5;
 }
 #cover {
     width: 100%;
     height: 100%;
     background: #fff;
     position: fixed;
     z-index: 10;
 }
 @font-face {
     font-family: 'icomoon';
     src: url('/fonts/icomoon.eot?-og9pn');
     src: url('/fonts/icomoon.eot?#iefix-og9pn') format('embedded-opentype'), url('/fonts/icomoon.ttf?-og9pn') format('truetype'), url('/fonts/icomoon.woff?-og9pn') format('woff'), url('/fonts/icomoon.svg?-og9pn#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 [class^="icon-"],
 [class*=" icon-"] {
     font-family: 'icomoon';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 a {
     margin: 0;
     padding: 0;
     text-decoration: none;
 }
 .header {
    height: 140px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 4;
    transition: height 0.5s ease;
}

.logo {
    /*    font-family: "Fugaz One", sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 800;
    line-height: 100px;
    position: absolute;
    top: 25px;
    left: 70px;
    width: 400px;
    transition: font-size 0.2s linear;
    z-index: 12;
}
.logo a {
    color: #fff;
    position: relative;
}
#k {
    position: relative;
    left: -2px;
}
#a {
    /*display: none;*/
    position: relative;
    left: -20px;
    opacity: 0;
}
#s {
    position: relative;
    left: -20px;
    opacity: 0;
}
#i {
    position: relative;
    left: -20px;
    opacity: 0;
}
#s {
    position: relative;
    left: -20px;
    opacity: 0;
}
#y {
    position: relative;
    left: -20px;
    opacity: 0;
}
#o {
    position: relative;
    left: -20px;
    opacity: 0;
}
#oo {
    position: relative;
    left: -20px;
    opacity: 0;
}
.border {
    position: fixed;
    right: 6%;
    height: 70px;
    width: 60px;
    top: 40px;
    z-index: 13;
    border: solid 3px #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
.menuText {
    color: #fff;
    font-size: 1rem;
    width: 29px;
    letter-spacing: 1.3rem;
    left: 50%;
    margin-left: -14.5px;
    text-align: center;
}
#menuText_top {
    position: absolute;
    top: 9px;
}
#menuText_bottom {
    position: absolute;
    bottom: 6px;
}
.iconmenu {
    position: absolute;
    right: 15px;
    height: 21px;
    width: 29px;
    top: 25px;
}
.line {
    padding: 0;
    border: 0;
    height: 3px;
    width: 29px;
    background-color: #ffffff;
    position: absolute;
    top: 9px;
    margin: 0;
}
#top {
    position: absolute;
    height: 3px;
    width: 29px;
    background-color: #ffffff;
    top: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 0;
    border: 0;
}
#bottom {
    position: absolute;
    height: 3px;
    width: 29px;
    background-color: #ffffff;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.iconmenu:hover #top {
    transform: rotate(-45deg) translateX(-4px);
    -o-transform: rotate(-45deg) translateX(-4px);
    -ms-transform: rotate(-45deg) translateX(-4px);
    -moz-transform: rotate(-45deg) translateX(-4px);
    -webkit-transform: rotate(-45deg) translateX(-4px);
    width: 19px;
}
.iconmenu:hover #bottom{
    transform: rotate(45deg) translateX(-4px);
    -o-transform: rotate(45deg) translateX(-4px);
    -ms-transform: rotate(45deg) translateX(-4px);
    -moz-transform: rotate(45deg) translateX(-4px);
    -webkit-transform: rotate(45deg) translateX(-4px);
    width: 19px;
}

/*     right menu   */

.menu {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #fdfdfd;
    left: 100%;
    width: 600px;
    z-index: 4;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-style: normal;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.44);
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 25%;
    text-align: left;
    padding-left: 0px;
    transition: all 0.4s ease 0.1s;
    opacity: 0;
}
.menu ul li {
    margin-bottom: 5px;
    font-size: 4rem;
    text-align: left;
    width: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    padding: 0;
}
.menu ul li:hover {
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 15px;
}
.menu ul li a {
    text-decoration: none;
    color: #305199;
    padding: 0;
    margin: 0;
    font-style: normal;
}
 .container-1 {
     height: 450px;
     width: 100%;
 }
 .container-1 h1 {
     font-family: "Racing Sans One", sans-serif;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     position: relative;
     top: 150px;
     font-size: 4em;
     color: #fff;
     margin-top: 0;
     font-weight: bolder;
/*     font-style: italic;*/
 }
.container_2{
               text-align: center;
    width: 100%;
    background-color: #fff;

}
 .container_2 img{

     
     margin:0;
     display: block;
     height: auto;
     max-width: 100%;
     vertical-align: middle;
     display: inline-block;
 }

 p {
     margin: 0;
    height: 100%;
     width: 100%;
     background-color: #fff;
     text-align: center;
    
 }

 

 .container_3 {
     width: 100%;
     height: 140px;
     line-height: 140px;

 }
 .container_3 a {
     float: left;
     width: 50%;
     height:140px;
     font-size: 24px;
     letter-spacing: 2px;
     font-family: 'Roboto', sans-serif;
     text-align: center;
     padding-top: 0px;
     margin: 0;
     padding-bottom: 0;
     display: block;
     font-size: 24px;
     box-sizing: border-box;
     font-weight: bold;
     background-color: #ffffff;
     color: #305199;
     transition: all 0.2s linear;
 }
 .container_3 a:hover {
     float: left;
     width: 50%;
     height: 140px;
     font-size: 24px;
     letter-spacing: 2px;
     font-family: 'Oswald', sans-serif;
     text-align: center;
/*     padding-top: 100px;*/
     margin: 0;
     padding-bottom: 0;
     display: block;
     font-size: 24px;
     box-sizing: border-box;
     font-weight: bold;
     background-color: #305199;
     color: #fff;
 }
 footer {
     width: 100%;
     height: 60px;
     background-color: #fff;
     font-size: 20px;
     color: #383838;
 }
 footer a {
     text-decoration: none;
     display: inline-block;
     position: relative;
     top: 20px;
     left: 70%;
     margin-right: 9px;
     height: 30px;
     width: 20px;
     overflow-x: hidden;
     color: #7f7f7f;
 }
 footer span {
     position: relative;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
     left: 0;
 }
 .claim {
     font-size: 11px;
     font-family: 'Open Sans', sans-serif;
     left: 8%;
     font-weight: lighter;
     color: #7f7f7f;
     top: 15px;
 }
 .icon-facebook2:before {
     content: "\e603";
 }
 .icon-facebook2:after {
     content: "\e603";
     color: #305199;
 }
 footer a:hover .icon-facebook2 {
     left: -20px;
 }
 .icon-twitter2:before {
     content: "\e605";
 }
 .icon-twitter2:after {
     content: "\e605";
     color: #305199;
 }
 footer a:hover .icon-twitter2 {
     left: -20px;
 }
 .icon-mail:before {
     content: "\e602";
 }
 .icon-mail:after {
     content: "\e602";
     color: #305199;
 }
 footer a:hover .icon-mail {
     left: -20px;
 }
